/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPrimerJava/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPrimerJava/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaCondicionales/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaCondicionales/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaSwitchCase/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaSwitchCase/build/