/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPrimerJava/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPrimerJava/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaCondicionales/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaCondicionales/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaSwitchCase/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaSwitchCase/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaWhilePractica01/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyPruebaWhilePractica01/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyCajeroAutomatico/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyCajeroAutomatico/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyGuarderiaBarcos/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyGuarderiaBarcos/build/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyCuentaBancaria/nbproject/private/
/Modulo 1/Ejercicios Net Beans/Net Beans Projects/pyCuentaBancaria/build/